{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Question categories
    {% if is_paginated %}
        | Page: {{ page_obj.number }}
    {% endif %}
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <div id="Navbar">
        {% if user.is_authenticated %}
            <div id="RequestCategoryButton">
                <a href="#" class="btn btn-default" role="button">Request new category</a>
            </div>
        {% endif %}
    </div>
    <div id="Categories">
        {% for cat in categories %}
            <div class="Category">
                <div class="name">{{ cat.name }}</div>
                <div class="count"> {{ cat.countReferences }} </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}