{% load staticfiles %}

<html>
    <head>
        <title>
            Ask a question
            {% if is_paginated %}
                | Page: {{ page_obj.number }}
            {% endif %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Projekt zaliczeniowy na przedmiot Zaawansowane języki skryptowe (Informatyka zaocznie UG - 1rok, semestr 2)">
        <meta name="keywords" content="Django, Python, UG, Uniwersytet Gdański, MFI, Wydział Matematyki fizyki i informatyki, I have no idea what i'm doing'">
        <meta name="author" content="Maciej Kitowski, grupa 1">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div id="header">
            Header
        </div>
        <div class="content">
            <div class="questionContainer">
                <table>
                    {% for question in latest_questions %}
                        <tr>
                            <th class="date"> {{ question.askDate|date:'Y-m-d H:i' }} </th>
                            <th class="votes"> {{ question.votes }} </th>
                            <th class="views"> {{ question.views }} </th>
                            <th class="question"> {{ question.title }} <th>
                        </tr>
                    {% empty %}
                        <tr><th>Nobody asked a question</th></tr>
                    {% endfor %}
                </table>
            </div>
            {% if is_paginated %}
                <hr>
                <div class="pageNumber">
                    <!-- Display active page number -->
                    <!-- Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} -->

                    <!-- Display next page link -->
                    <!-- {% if page_obj.has_next %}
                        <a href="./?page={{ page_obj.next_page_number }}">Next page</a>
                    {% endif %} -->

                    <!-- Display previous page link -->
                    <!--{% if page_obj.has_previous %}
                        <a href="./?page={{ page_obj.previous_page_number }}">Previous page</a>
                    {% endif %} -->
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="footer">
            <h2>Footer</h2>
        </div>
    </body>
</html>