{% load staticfiles %}

<html>
    <head>
        <title>
            Ask a question
            {% if is_paginated %}
                | Page: {{ page_obj.number }}
            {% endif %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Projekt zaliczeniowy na przedmiot Zaawansowane języki skryptowe (Informatyka zaocznie UG - 1rok, semestr 2)">
        <meta name="keywords" content="Django, Python, UG, Uniwersytet Gdański, MFI, Wydział Matematyki fizyki i informatyki, I have no idea what i'm doing'">
        <meta name="author" content="Maciej Kitowski, grupa 1">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div id="header">
            Header
        </div>
        <div id="categories">
            categories
        </div>
        <div id="users">
            users
        </div>
        <div id="questions">
            <table>
                {% for question in latest_questions %}
                    <tr>
                        <th class="date"> 
                            {{ question.askDate|date:'Y-m-d H:i' }} <br/>
                            <small>Date</small>
                        </th>
                        <th class="votes">
                            {{ question.votes }} <br/>
                            <small>Votes</small>
                        </th>
                        <th class="views">
                            {{ question.views }} <br/>
                            <small>Views</small>
                        </th>
                        <th class="question">
                            {{ question.title }}
                        <th>
                    </tr>
                {% empty %}
                    <tr><th>Nobody asked a question</th></tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <hr>
                <div class="pageNumber">
                    <!-- Display active page number -->
                    <!-- Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} -->

                    <!-- Display next page link -->
                    <!-- {% if page_obj.has_next %}
                        <a href="./?page={{ page_obj.next_page_number }}">Next page</a>
                    {% endif %} -->

                    <!-- Display previous page link -->
                    <!--{% if page_obj.has_previous %}
                        <a href="./?page={{ page_obj.previous_page_number }}">Previous page</a>
                    {% endif %} -->
                </div>
            {% endif %}
        </div>
        <div id="footer">
            Footer
        </div>
    </body>
</html>