{% load staticfiles %}

<html>
    <head>
        <title>
            Ask a question
            {% if is_paginated %}
                | Page: {{ page_obj.number }}
            {% endif %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Projekt zaliczeniowy na przedmiot Zaawansowane języki skryptowe (Informatyka zaocznie UG - 1rok, semestr 2)">
        <meta name="keywords" content="Django, Python, UG, Uniwersytet Gdański, MFI, Wydział Matematyki fizyki i informatyki, I have no idea what i'm doing'">
        <meta name="author" content="Maciej Kitowski, grupa 1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div id="header">
            Header
        </div>
        <div id="questions">
            <div id="questionNavbar">
                Navbar
            </div>
            <table>
                {% for question in latest_questions %}
                    <tr>
                        <td class="votes">
                            {{ question.votes }} <br/>
                            <small>Votes</small>
                        </td>
                        <td class="views">
                            {{ question.views }} <br/>
                            <small>Views</small>
                        </td>
                        <td class ="answers">
                            <small>Answers</small>
                        </td>
                        <td class="question">
                            {{ question.title }} <br/>

                            {% for cat in question.categories.all %}
                                <div class="category">{{ cat }}</div>
                            {% endfor %}

                            <div class="detail"><b>{{ question.askDate|date:'Y-m-d H:i' }}</b> by {{ question.author }}</div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><th>Nobody asked a question</th></tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <div id="pageNumbers"> 
                    {% if page_obj.has_previous %}
                        <a href="/{{ page_obj.previous_page_number }}/{{ request.resolver_match.kwargs.sortby }}">Previous page</a>
                    {% endif %}

                    {% for pageNumber in page_obj.paginator.page_range %}
                        {% if pageNumber == page_obj.number %}
                            <a href="#" class="currentPage"> {{ pageNumber }} </a>
                        {% else %}
                            <a href="/{{ pageNumber }}/{{ request.resolver_match.kwargs.sortby }}" class="page"> {{ pageNumber }} </a>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <a href="/{{ page_obj.next_page_number }}/{{ request.resolver_match.kwargs.sortby }}">Next page</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div id="footer">
            Footer
        </div>
    </body>
</html>