{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Add new question
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/newQuestion.css' %}">

    <script>
        function addCategory() {
            $('#categories').append(
                '<div class="checkboxField"> \
                    <div class="input-group"> \
                        <div class="input-group-addon"><i class="glyphicon glyphicon-check"></i></div> \
                        {{ form.categories|escapejs }} \
                    </div>\
                </div>'
            );
        }
    </script>

{% endblock %}

{% block content %}
    <div id="FormContent">
        {% if form.errors %}
            <div class="Error">{{ form.errors }}</div>
        {% endif %}
        {% if user.is_authenticated %}
            <h4>Add new question</h4>
            <form method="post" action="{% url 'newQuestion' %}">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></div>
                    {{ form.title }}
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
                    {{ form.content }}
                </div>
                <h5>Categories</h5>
                <div id="categories">
                    <div class="checkboxField">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-check"></i></div>
                            {{ form.categories }}
                        </div>
                    </div>
                </div>
                <div class="SubmitButton">
                    <a href="#" id="filldetails" onclick="addCategory()">Fill Details</a>
                    <button type="submit" class="btn btn-primary" value="login">Send</button>
                </div>
            </form>
        {% else %}
            <div class="Error"> You have to be logged.</div>
        {% endif %}    
    </div>
{% endblock %}