{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Add new question
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/newQuestion.css' %}">

    <script>
        function addCategory() {
            $('#categories').append(
                '<div class="checkboxField"> \
                    <div class="input-group"> \
                        <div class="input-group-addon"><i class="glyphicon glyphicon-check"></i></div> \
                        {{ form.categories|escapejs }} \
                    </div>\
                </div>'
            );

            if($('.checkboxField').length > 1 && $("a[class='btn btn-danger']").length == 0) {
                $("#CategoryButtons").append('<a class="btn btn-danger" onclick="removeCategory()"><i class="glyphicon glyphicon-minus-sign"></i></a>');
            }
        }

        function removeCategory() {
            $('.checkboxField').last().remove();
            if($('.checkboxField').length == 1) $("a[class='btn btn-danger']").remove();
        }
    </script>
{% endblock %}

{% block content %}
    <div id="FormContent">
        {% if form.errors %}
            <div class="Error">{{ form.errors }}</div>
        {% endif %}
        {% if user.is_authenticated %}
            <h3>Add new question</h3>
            <form method="post" action="{% url 'newQuestion' %}">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></div>
                    {{ form.title }}
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
                    {{ form.content }}
                </div>
                <h4>Categories</h4>
                <div id="categories">
                    <div id="CategoryButtons">
                        <a class="btn btn-primary" onclick="addCategory()"><i class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>
                    <div class="checkboxField">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-check"></i></div>
                            {{ form.categories }}
                        </div>
                    </div>
                </div>
                <div class="SubmitButton">
                    <button type="submit" class="btn btn-primary" value="login">Send</button>
                </div>
            </form>
        {% else %}
            <div class="Error"> You have to be logged.</div>
        {% endif %}    
    </div>
{% endblock %}