{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ question.title }} | Ask a question
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block content %}
    <div id="question">
        <div id="title">
            {{ question.title }}
        </div>
        <table>
            <tr>
                <td class="questionVote">
                    Miejsce na ocenę pytania
                </td>
                <td class="content">
                    {{ question.content }}

                    <div id="questionCategories">
                        {% for cat in question.categories.all %}
                            <a href = "/category/{{ cat }}/1" class = "category">{{ cat }}</a>
                        {% endfor %}
                    </div>
                </td>
                <td class="questionDetails">
                    <div class="author"> Author: {{ question.author }} </div>
                    <div class="date"> Date: {{ question.askDate|date:'Y-m-d H:i' }} </div>
                </td>
            </tr>
        </table>
    </div>
<br/>
<br/>
<br/>
<br/>
{% endblock %}