#editAnswer {
    width: 65%;
    padding: 15px 15px 35px 15px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    background-color: #E3E3E3;
    border: 1px solid #CBCBCB;
}

.SubmitButton {
    padding-top: 5px;
    float: right;
}

.Error {
    padding: 0 10px 0 10px;
    margin: 20px auto 20px auto;
    line-height: 50px;
    background-color: #ff9191;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
}

.Error p {
    padding-top: 5px;
    line-height: 10px;
}