body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    padding: 15px 0px 15px 10px;
    margin: 0px 1px 1px 1px;
    background-color: blue;
}

#questions {
    float: center;
    margin: 1px 100px 10px 100px;
}

#questionNavbar {
    display:inline-block;
    width: 100%;
    margin: 5px 0px 0px 0px;
    padding: 3px 5px 3px 5px;
    background-color: blue;
}

#addQuestionButton {
    float: left;
}

#sortbyDropdown {
    float: right;
}

#questions table {
    width: 100%;
    border: 1px solid lightblue;
    border-collapse: collapse;
}

#questions td {
    text-align: center;
    height: 70px;
    border: 10px solid lightblue;
    border-radius: 30px;
    background-color: gray;
}

#questions small {
    font-size: 75%;
    font-weight: bold;
    color: darkgray;
}

#questions td.votes {
    width: 7%;
}

#questions td.views {
    width: 7%;
}

#questions td.answers {
    width: 7%;
}

#questions td.question {
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    vertical-align: text-top;
}

#questions .category {
    display:inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    background-color: red;
    font-size: 70%;
}

#questions .category:hover {
    background-color: pink;
}

#questions .detail {
    float: right;
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    font-size: 70%;
}

#questions .detail:hover {
    background-color: pink;
}

#pageNumbers {
    background-color: lightgreen;
    text-align: center;
}

#pageNumbers .page {
    display: inline-block;
    padding: 3px 9px 3px 9px;
    margin: 2px;
}

#pageNumbers .page:hover {
    background-color: pink;
}

#pageNumbers .currentPage {
    display: inline-block;
    padding: 3px 9px 3px 9px;
    margin: 3px;
    background-color: lightsalmon;
    font-weight: bold;
    border: 1px solid black;
}

#footer {
    padding: 15px 0px 15px 10px;
    margin: 0px 1px 1px 1px;
    background-color: blue;
}